<div class="text-4xl">
    <div class="w-full bg-blue-900 flex min-h-screen">
        <div class="w-full px-4 min-h-full bg-gray-100">
            <div class="grid grid-cols-3 place-items-center justify-items-start gap-4 shadow-xl py-3 bg-white capitalize font-semibold text-blue-700 my-2">
                <div></div>
                <div class="text-center">name</div>
                <div>actions</div>
            </div>
            <%= render 'layouts/dashboard/mobile_content', obj: current_user.properties.available %>
        </div>
    </div>
    <div class="sticky bottom-0">
        <%= render 'layouts/dashboard/mobile_footer' %>
    </div>
</div>
