<div class="w-screen bg-blue-900 flex min-h-screen">
    <aside class="w-1/4 h-full bg-blue-900 grid">
        <%= render 'layouts/dashboard/side_nav' %>
    </aside>
    <div class="w-full px-4 min-h-full bg-gray-100">
        <%= render 'layouts/dashboard/content', obj: current_user.properties.for_sale.available %>
               
    </div>
</div>
