<%= form_for(:rentor, :url => url_for(:controller => locals[:rentors], :action => locals[:new]), html: {class: ""} ) do |f| -%>
  <% f.hidden_field :property_id, @property.id %>
  <label class="my-2">name:</label>
                <%= f.text_field :rentor_first_name, class:"p-2 bg-white rounded-lg" %>
                <label class="my-2">phone number:</label>
                <%= f.text_field :rentor_phone_number, class:"p-2 bg-white rounded-lg" %>
                <%= f.submit "Submit", disable_with: 'Submiting...', class:"font-semibold tracking-wider p-2 w-full my-3 border-2 border-teal-600 bg-teal-700 text-white uppercase text-center" %>
<% end %>