<div class="bg-blue-800 w-full text-blue-100 py-3 px-4 font-semibold text-lg capitalize">aim system</div>
<div class="justify-items-left px-4 text-white capitalize text-md font-semibold">
    <div class="py-4 border-b border-blue-800"><%= link_to 'all listing', dashboard_path %> </div>
    <div class="py-4 border-b border-blue-800"><%= link_to 'available listings', dashboard_available_listings_path %></div>
    <div class="py-4 border-b border-blue-800"><%= link_to 'listing for sale', dashboard_for_sale_listings_path %></div>
    <div class="py-4 border-b border-blue-800"><%= link_to 'rental listings', dashboard_rentals_listings_path %></div>
</div>