<div class="px-24 py-4">
    <div class="grid grid-rows-flow grid-cols-4 gap-4">
        <% @properties.available.each do |property| %>
            <%= link_to property do %>
            <div class="h-32 w-40 m-3">
                <%= image_tag property.property_cover_photo , class: " h-full w-full object-cover object-center" %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>