<%= render 'navigation/desktop/top_bar' %>
<div class="py-12 px-24 bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1520327155548-c80b5e82e883?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
    <div class="text-teal-700 text-5xl capitalize font-bold">fulcrum homes</div>
    <div class="capitalize text-white text-xl font-medium py-2">talk to us</div>
    <div class="text-white font-medium text-xl py-4 px-4" style="background-color: rgba(0,0,0,0.5);">We are here to solve the problem of looking for a house in kenya, and hearing from you, would greatly help us to archive our goal.<br> Feel free to correct us where we are wrong, and help us improve as we journey along. we are here because of you.</div>
</div>
<div class="px-24">
    <div class="capitalize font-light text-black py-8 mb-12 border-b-2 text-2xl">direct contact</div>
    <div class="bg-gray-300 w-full grid px-4 py-12 mb-12 rounded-lg">
        <div class="place-self-start pb-8 font-bold capitalize text-teal-700">phone number</div>
        <div class="mx-3 my-2">+2547 98767470</div>
        <div class="mx-3 my-2">+2547 18663749</div>
    </div>
</div>