<div class="bottom-0 absolute py-3 px-24 bg-teal-700 text-white flex space-x-8 capitalize">
    <div class="justify-self-center text-center font-extrabold capitalize">myfulcrumlogo.com</div>
    <div class="flex-grow"></div>
    <div>safety tips</div>
    <%= link_to 'talk to us', talk_to_us_path %>
    <div>careers</div>
</div>